<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="check-context.xml"/>
    <import resource="service-check-context.xml"/>
    <import resource="service-client-context.xml"/>
    <import resource="service-goods-context.xml"/>
    <import resource="service-seller-context.xml"/>

</beans>